body{
    background: pink;
    color : white;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color: rgb(7, 148, 94);
}
#camera ,#result{
    border: 2px dashed rgb(52, 17, 167);
    width: 350px;
    height: 300px;
}
#result_object_name, #result_object_accuracy{
    color: aqua;
}